$breakpoint: 768px;

@media screen and (max-width: $breakpoint) {
    .nav-list {
      display: none;
    }

    .menu-icon {
      cursor: pointer;
      display: block;
      font-size: 2rem;
      color: goldenrod;
    }

    .menu-icon:hover {
      color: gold;
    }

    .nav-list {
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      padding-inline: 0;
      
      .nav-item {
        display: block;
        text-align: center;
        padding-block: 0.5rem;

        .nav-link {
          color: white;
          font-size: 1.5rem;
          padding: 0.5rem;
          display: block;
        }

        &:hover {
          background-color: goldenrod;
        }
      }
    }
  }
